<app-header></app-header>

<section>

  <div class="row mt-2">

    <div class="col-md-6">
      <div class="innerDiv row">
        <div class="col-md-6">
          <h3 class="mt-0">Order details</h3>
        </div>
        <div class="col-md-6">
          <p class="dark to-right">Order ID #123-45678000-90</p>
        </div>
        <div class="col-md-12">
          <p>Order Placed: Mar 13, 2019 - 10:10 PM</p>
          <hr>
        </div>
        <div class="col-md-2">
          <img src="/assets/imgs/cleaner.png">
        </div>
        <div class="col-md-8">
          <p>A cleaner is required!</p>
          <p>Sunday: 10:20 AM - 12:30 PM</p>
        </div>
        <div class="col-md-2">
          <p class="to-right">$25.00 x 1</p>
        </div>
        <div class="row"></div>
        <div class="col-md-8"></div>
        <div class="col-md-2">
          <p class="gray">Subtotal</p>
        </div>
        <div class="col-md-2">
          <p class="to-right">$25.00</p>
        </div>
        <div class="col-md-8"></div>
        <div class="col-md-2">
          <h3 class="gray">Total</h3>
        </div>
        <div class="col-md-2">
          <h3 class="to-right">$25.00</h3>
        </div>
        <div class="col-md-12">
          <hr>
          <p class="secondary mb-1">Payment: Cash on Delivery</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="innerDiv">
        <h3 class="mt-0">Customer</h3>
        <p class="primary">John Doe</p>
        <hr>
        <p class="mt-1">Contact: +123 4567 890</p>
        <p>Email: johndoe@gmail.com</p>
        <h4>Address:</h4>
        <p class="gray">201 Some Block Phase II, Any Street, Somewhere at Paris, France</p>
        <hr>
        <button class="btn btn-default wide mt-1">View Location On Map</button>
      </div>
    </div>

    <div class="col-md-3">
      <div class="innerDiv">
        <h3 class="mt-0">Availabe Cleaners</h3>
        <select>
          <option selected="true">Sam Doe</option>
          <option>John Doe</option>
          <option>Murphy Doe</option>
        </select>
        <textarea rows="3" class="wide mt-1" placeholder="Additional Notes:"></textarea>
        <button class="btn bg-primary wide mt-1">Assign Order</button>
        <button class="btn btn-danger wide mt-1">Cancel Order</button>
      </div>
    </div>

  </div>

</section>
