<div class="container">
  <div class="row mt-2">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <p class="center">
        <img src="/assets/imgs/appLogo.png">
      </p>
      <div class="loginDiv">
        <div class="heading">
          <h5 class="center white">Reset your password</h5>
        </div>
        <div class="inputForm">
          <p class="center">Enter your E-mail Address to get a reset link</p>
          <div class="input-group mb-1">
            <span class="input-group-addon"><i class="fas fa-envelope"></i></span>
            <input id="email" type="email" class="text-field login-fields" placeholder="Email">
          </div>
          <p class="center">
            <button class="btn bg-primary login-btn mt-1">Submit</button>
          </p>
          <p class="center pointer" routerLink="/login">Cancel</p>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
